.tasks{
    
    margin-right: 40px;
     
}


.taskCard {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-right: 20px;
  }
  
  .taskDescription {
    font-size: 20px;
    color: black;
    padding-top: 20px;
     margin-bottom: 10px; 
  }
  
  .taskMeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: black;
  }

  .button {
    background-color: #37517e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
  }